.nav {
  display: flex;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 67px;
  padding: 0 18px;
  border-bottom: 1px solid #3e4863;
  background-color: #303141;
}
.nav-menu-logo {
  display: flex;
}

.menu-burger-button-container {
  display: flex;
  margin-top: 3px;
  padding: 5px;
  margin-right: 10px;
  border-radius: 2px;
  cursor: pointer;
}

.menu-burger {
}

.nav-logo-container {
  display: flex;
  justify-content: left;
}

.nav-logo {
  width: 140px;
  margin-bottom: 12px;
}

.nav-main-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.nav-items {
  display: flex;
  align-items: center;
}

.nav-preferences {
  display: flex;
  align-items: center;
  gap: 24px;
}

@media (min-width: 768px) {
  .nav-preferences {
    gap: 10px;
  }
}

@media (min-width: 1200px) {
  .nav-logo-container {
    display: none;
  }
  .menu-burger-button-container {
    display: none;
  }
}

@media (min-width: 1400px) {
  .nav-logo-container {
    display: flex;
    padding-right: 30px;
    margin-right: 20px;
    border-right: 1px solid #b2b3b8;
  }
}
